@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    text-align: center;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: lightgrey;
}

.main-box {
    border: 1px solid lightgray;
    padding: 15px;
    padding-bottom: 35px;
    width: 300px;
    height: 350px;
    margin: 300px auto;
    border-radius: 10px;
    background-color: white;
}

.card1-box {
    border: 1px solid lightgray;
    padding: auto;
    padding-bottom: 35px;
    width: 350px;
    height: 550px;
    margin: 100px auto;
    border-radius: 10px;
    background-color: white;
}

.card2-box {
    border: 1px solid lightgray;
    padding: 15px;
    width: 350px;
    height: 370px;
    margin: 100px auto;
    border-radius: 10px;
    background-color: white;
}

.card3-box {
    border: 1px solid lightgray;
    padding: 15px;
    width: 350px;
    height: 570px;
    margin: 100px auto;
    border-radius: 10px;
    background-color: white;
}

.btn-main-card {
    background-color: rgb(102, 46, 252);
    padding: 10px 100px 10px 100px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.btn-card1 {
    background-color: rgb(102, 46, 252);
    width: 80%;
    padding: 13px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
}
.btn-card2 {
    background-color: white;
    width: 80%;
    padding: 13px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    color: black;
    text-align: left;
    font-size: 15px;
}

.btn-card2:hover {
    background-color: lightgray;
}

.verify {
    width: 77%;
    height: 35px;
    border: 1px solid rgb(102, 46, 252);
    border-radius: 5px;
    color: black;
    text-align: center;
}

.drop-box {
    width: 77%;
    height: 35px;
    border: 1px solid rgb(102, 46, 252);
    border-radius: 5px;
    color: black;
    text-align: left;
    font-size: 12px;
}


a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-size: 15px;
    color: white;
}

p {
    color: #536685;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.doodle {
    height: 300px;
}

.wave, .building {
    width: 50px;
    padding: 15px 15px 0px 15px;
}

.usage-type-img {
    width: 15px;
    padding-right: 5px;
}

label {
    color: #536685;
    font-size: 13px;
    text-align: left; 
}

.lab {
    text-align: left;
}